<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Price</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" >
    <link rel="stylesheet" href="../static/style/custom.css" th:href="@{/style/custom.css}" />
    </head>
<body>
<div th:insert="blocks/header :: header"></div>
<div class="container py-5">
<main>
  <h1 class="display-4 fw-normal">Luxury Suite</h1>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal" >Luxury Suite №1</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
            <li >Hydromassage bathtub</li>
            <li >Flat-screen TV</li>
            <li >Satellite Channels</li>
            <li >Safer for laptop</li>
            <li >Pool view</li>
            <li >Executive Lounge access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='book'">Book</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal" >Luxury Suite №2</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
            <li>Ironing facilities</li>
            <li>Hydromassage bathtub</li>
            <li>Flat-screen TV</li>
            <li>Satellite Channels</li>
            <li>Pool view</li>
            <li>Executive Lounge access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='book'">Book</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal" >Luxury Suite №3</h4>
        </div>
        <div class="card-body">
           <ul class="list-unstyled mt-3 mb-4">
            <li >Minibar</li>
            <li >Free toiletries</li>
            <li >Computer booth</li>
            <li >Flat-screen TV</li>
            <li >Satellite Channels</li>
            <li >Pool view</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='book'">Book</button>
        </div>
      </div>
    </div>
  </div>

  <h1 class="display-4 fw-normal" >Premier Suite</h1>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Premier Rooms №1</h4>
        </div>
        <div class="card-body">
           <ul class="list-unstyled mt-3 mb-4">
            <li>Hairdryer</li>
            <li>Flat-screen TV</li>
            <li>Satellite Channels</li>
            <li>City view</li>
            <li>Free toiletries</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='book'">Book</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Premier Rooms №2</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li >Tea making facilities</li>
            <li >Satellite Channels</li>
            <li >Flat-screen TV</li>
            <li >City view</li>
            <li >Private meeting room</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='book'">Book</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal" >Premier Rooms №3</h4>
        </div>
        <div class="card-body">
           <ul class="list-unstyled mt-3 mb-4">
            <li >Coffee making facilities</li>
            <li >City view</li>
            <li >Beauty Salon</li>
            <li >Flat-screen TV</li>
            <li >Free Parking</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='book'">Book</button>
        </div>
      </div>
    </div>
  </div>

  <h1 class="display-4 fw-normal">Deluxe Suite</h1>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal" >Deluxe Rooms №1</h4>
        </div>
        <div class="card-body">
           <ul class="list-unstyled mt-3 mb-4">
            <li >Beds : 1 queen size</li>
            <li >Max person : 1</li>
            <li >Refreshments</li>
            <li >Flat-screen TV</li>
            <li >Garden view</li>
            <li >Free Parking</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='book'">Book</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Deluxe Rooms №2</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li >Beds : 1 king size</li>
            <li >Max person : 2</li>
            <li >Breakfast til 11</li>
            <li >Flat-screen TV</li>
            <li >Balcony view</li>
            <li >Room service 24/7</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='book'">Book</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal" >Deluxe Rooms №3</h4>
        </div>
        <div class="card-body">
         <ul class="list-unstyled mt-3 mb-4">
            <li >Beds : 1 king / 2 single</li>
            <li >Max person : 2</li>
            <li >Dinner till 9</li>
            <li >Flat-screen TV</li>
            <li >Swimming pool</li>
            <li >Laundry facility</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='book'">Book</button>
        </div>
      </div>
    </div>
  </div>
</main>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>