<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Clients</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" >
  <link rel="stylesheet" href="../static/style/custom.css" th:href="@{/style/custom.css}" />
  <link rel="stylesheet" href="../static/style/skeleton.css" th:href="@{/style/skeleton.css}" />
</head>

<body>
<div th:insert="blocks/header :: header"></div>
<div th:insert="blocks/headerAdmin :: headerAdmin"></div>

  <div class="container mt-5" >
    <center><h3>Clients</h3></center>
    <hr>
  </div>
  <table style=" margin: auto; width:0%; align=right; ">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Mail</th>
        <th>Phone</th>
        <th>Password</th>
        <th>Role</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="el:${users}">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td th:text="${el.name}"></td>
        <td th:text="${el.mail}"></td>
        <td th:text="${el.phone}"></td>
        <td th:text="${el.password}"></td>
        <td th:text="${el.role}"></td>
        <td><form th:action="'/user-controller/remove/' + ${el.name} " method="post">
          <button class="btn btn-outline-danger" type="submit">Delete</button>
        </form></td>
        <th> <a th:href="'/user-controller/edit/' + ${el.name} " class="btn btn-outline-primary">Edit</a></th>
      </tr>
      </tbody>
    </table>


<div class="footerr" th:insert="blocks/footer :: footer"></div>

</body>
</html>